### Assignment 3: If-else statements, For loops, Functions

#### Your Name:

#### Your NYU Email:

#### A. Voting Eligibility (5pts)

You need to be above 18 and a US Citizen, to be able to vote. You also need to be registered. Write the conditional expression that checks for these conditions and prints out whether the person can vote. If the person cannot vote, the code should print out the reason (below 18, or not a US citizen, or not registered, or a combination thereof).

In [ ]:
age = 0 # an integer...
citizen = False
registered = False

#### B. Pay Rate (5pts)

A worker gets paid an hourly wage, when working up to 40 hours per week. When the time at work goes above 40 hours in a week, the worker is being paid overtime rate, which is 1.5 times the hourly wage. Given the hours worked per week, and the hourly wage, compute the weekly salary of the worker.

In [ ]:
hourly_wage = 25.75
hours_per_week = 40.5

# your code here

print("The weekly salary is ${s}".format(s=weekly_salary))

#### C. Course grade (5pts)

Write a program to prompt for a score between 0.0 and 1.0. If the
score is out of range, print an error message. If the score is between 0.0 and 1.0,
print a grade using the following table:

```
Score   Grade
>1      Error: Too big
>=0.9   A
>=0.8   B
>=0.7   C
>=0.6   D
<0.6    F
<0      Error: Too small
```

#### D. Restaurant Meal Price (15 pts)

_Part 1_. Write code that computes the total price of the meal in a restaurant. You know that:

* The price of the food is $15. 
* The NY State Tax rate is 8.875%. 
* The tipping percentage is 18% of the the overall cost of the meal (including tax).

Use Python variables to perform the computation.

_Part 2_. Write a **function** that computes the total price of the meal in a restaurant. The function takes as input the food price, the sales tax rate, and the tip percentage.

_Part 3_. Write a for loop that computes the total price of a meal, for different tipping rates, starting from 15% and ending at 25% (both inclusive) at 1% increments. Use the function from Part 2 as part of the loop.

_Part 4._ Below you will find a dictionary with the tax rates for different states, expressed in percentiles. Iterate through all states and print the value of a meal, where the pre-tax food price is $20; show the prices for tip percentages of 15%, 20%, and 25%.

In [ ]:
tax = {
    "Alabama": 13.50,
    "Alaska": 7,
    "Arizona": 10.73,
    "Arkansas": 11.63,
    "California": 10,
    "Colorado": 10,
    "Connecticut": 6.35,
    "Delaware": 0,
    "District of Columbia": 5.75,
    "Florida": 7.50,
    "Georgia": 8,
    "Hawaii": 4.50,
    "Idaho": 8.50,
    "Illinois": 9.75,
    "Indiana": 7,
    "Iowa": 7,
    "Kansas": 9.65,
    "Kentucky": 6,
    "Louisiana": 11,
    "Maine": 5.50,
    "Maryland": 6,
    "Massachusetts": 6.25,
    "Michigan": 6,
    "Minnesota": 7.88,
    "Mississippi": 7.25,
    "Missouri": 9.35,
    "Montana": 0,
    "Nebraska": 7.50,
    "Nevada": 8.10,
    "New Hampshire": 0,
    "New Jersey": 7,
    "New Mexico": 8.69,
    "New York": 8.88,
    "North Carolina": 7.50,
    "North Dakota": 8,
    "Ohio": 8,
    "Oklahoma": 11,
    "Oregon": 0,
    "Pennsylvania": 8,
    "Rhode Island": 7,
    "South Carolina": 9,
    "South Dakota": 6,
    "Tennessee": 9.75,
    "Texas": 8.25,
    "Utah": 8.35,
    "Vermont": 7,
    "Virginia": 6,
    "Washington": 9.60,
    "West Virginia": 7,
    "Wisconsin": 5.60,
    "Wyoming": 6,
}

#### E. Search within a file (5 pts)

Read the file `restaurant-names.txt` which is stored under:
    `/home/ubuntu/ipynb/NYU_Notes/2-Introduction_to_Python/data/restaurant-names.txt`
   and answer the following questions:
   * How many restaurants appear in the dataset?
   * Print the restaurants that contain the word `GREEK` in their name.
   * How many restaurants contain the word `PIZZA` in their name?

#### F.  Road Pricing System (5 pts)

The Transport Authority is implementing a new Road Pricing system. The authorities decided that the cars will be charged based on distance travelled, on a per mile basis. A car will be charged \$0.50/mi, a van \$2.1/mi and taxis travel for free. Create a function to determine how much a particular vehicle would be charged based on a particular distance. The function should take as input the type of the car and the distance travelled, and return the charged price.

#### G. Most Common Item (10 pts)

_Part 1_. Write a function that takes in a list and returns the most common item in the list. _Hint: Make use of `set`, and use a `for` loop to iterate through all the unique values of the list. Use the `list.count(...)` function to find the frequency of each item. While you iterate through the elements of the list, use a variable that keeps the value of the most common element that you have seen so far. Return the item with the highest frequency_

In [ ]:
example = ["Kanisha", "Candance", "Lila", "Lupe", "Alexander", "Candance", 
           "Irvin", "Kanisha", "Lila", "May", "Lila", "Alexander", "Ivana", "Alexander"]

example.count("Candance")

_Part 2_. Use the function that you created here to find the most frequent restaurant name from the dataset used in question (E).